body,html{width: 100%;height: 100%;background: #fff}
.banner{
	width: 100%;
	height: 1.27rem;
	background: url("/Static/images/home/Id_banner.png") no-repeat;
	background-size: 100% 100%;
}
.banner .banner-bg{
	width: 20%;
	height: 0.82rem;
	margin:0 auto;
	color: #383e42;
	border-radius: 50%;
	padding-top: 0.22rem;
}
.banner-bg img{
	width: 0.62rem;
	height: 0.62rem;
	border-radius: 0.62rem;
	display: block;
}
.form-1{
	width: 100%;
	height: 0.46rem;
	border-bottom: 1px solid #eee;
}
.form-1 span{
	width: 20%;
	font-size: 16px;
	font-family: "冬青黑简体中文";
	margin: 0 0.3rem;
	color: #3f3f3f;
	line-height:0.6rem;
	 
}
.form-1 input{
	outline: medium;
	padding-left: 0.1rem;
	border:0;
	width: 60%;
	height: 0.16rem;
	font-size: 0.13rem;
	color:#7d7d7d;

}	

#sms_code{
	margin-top:0.13rem;
}
#btn-yanzheng{
	border-radius: 0.05rem;
	background: #ff4e4e;
	height: 0.25rem;
	width:0.94rem;
	margin-top:0.13rem;
	margin-right:0.30rem;
	float:right;
	color: #fff;
	border:0;

}
	
.form-2{
	margin-top: 0.37rem;
	width:100%;
	height: auto;
	overflow: hidden;
}
.form-3{
	width: 25%;
	height: 0.32rem;
	margin: 0 0.12rem;
	float: left;
	line-height: 0.32rem;
}
.form-3 img{
	width: 0.16rem;
	height: 0.16rem;
}
.form-3 span{
	font-size:0.16rem;
	color: #000;
	margin-left:0.08rem; 
}
.form-4{
	float: left;
	width: 65%;
	height: 2.08rem;	
	background: #f7f7f7;
	position: relative;
}
.qihang{
	height: 0.32rem;
	border:2px solid #d4d4d4;
	border-radius: 10px;
	font-size: 0.13rem;
	text-align: center;
	color: #7d7d7d;
	line-height: 0.32rem;
}
.form-4 ul {
	height:1.76rem;
}
.form-4 li{
	height: 0.19rem;
	line-height: 0.19rem;
	text-align: center;
	font-size: 0.13rem;
	color: #7d7d7d;
}
 
#cancel{
	width: 40%;
	height: 0.80rem;
	background: red;

}
#doit{
	width: 40%;
	height: 0.80rem;
	background: #55c5d5;
	margin-left: 0.20rem;
}
	 
.tijiao{
	width: 75%;
	padding: 0 0.12rem;
	height: 0.32rem;
	margin-top:0.25rem;
	margin:0.25rem 0 0 10%;
	color: #fff;
	font-size: 0.16rem;
	text-align: center;
	line-height: 0.32rem;
	border-radius: 0.05rem;
}
.tijiao span{
	float: left;
	width: 48%;
	height: 0.32rem;
	text-align: center;
	font-size: 0.16rem;
	line-height: 0.32rem;
	border-radius: 0.05rem;
}
#tijiao-cancel{
	background: #ff3846;
}
#tijiao-do{
	margin-left: 4%;
	background: #55c5d5;
}
.zezhao{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: none;
	position:fixed;
	z-index: 100;
}
.tanchu{
	width: 94%;
	height: auto;
	overflow: hidden;
	position: absolute;
	left: 3%;
	top:50%;
	margin-top: -2.2rem;
	background: #fff;
	border-radius: 0.05rem;
}
.sousuo{
	width: 92%;
	margin:0.22rem 4%;
	height: 0.32rem;
}
#search{
	width: 98%;
	height: 0.30rem;
	border:1px solid #e9e9e9;
	font-size: 0.16rem;
	color: #3f3f3f;
	text-align: center;
	background:#f9f9f9;
	border-radius: 0.05rem;
}
.xuanze{
	width: 80%;
	padding:0 10%;
	height: 1.6rem;
	overflow: auto;
}
.xuanze .xuanze-list li{
	width: 100%;
	height: 0.32rem;
	font-size: 0.14rem;
	color: #7d7d7d;
	line-height: 0.32rem;
} 
.xuanze-list span{
	float: left;
}
.xuanze-list img{
	width: 0.14rem;
	height: 0.14rem;
	margin-top: 0.09rem;
	float: right;
}
.btn-1{
	width: 80%;
	height: 0.65rem;
	margin:0.73rem 10% 0.42rem 10%;
}
.btn-1 span{
	float: left;
	width: 45%;
	height: 0.32rem;
	text-align: center;
	font-size: 0.16rem;
	line-height: 0.32rem;
	border-radius: 0.05rem;
	color: #fff;
}
#btn-cancel{
	background: #ff3846;
}
#btn-do{
	margin-left: 0.20rem;
	background: #55c5d5;
}