body{
	width: 100%;
	height: 100%;
}
.sign-in-list{
	width: 90%;
	height: 1.03rem;
	background: #fff;
	padding: 0 5%;
	margin-top: 0.1rem;
}
.sign-in-list li{
	width: 100%;
	height: 0.21rem;
	font-size: 0.13rem;
	color: #7d7d7d;
	line-height: 0.22rem;
}
.sign-in-list .sign-in-li{
	height: 0.3rem;
	font-size: 0.16rem;
	color: #3f3f3f;
	line-height: 0.3rem;
}
.now-time{
	width: 100%;
	height: 0.9rem;
	background: #fff;
}
.now-time p{
	width: 100%;
	text-align: center;
}
.now-time p:nth-child(1){
	height: 0.45rem;
	font-size: 0.45rem;
	color: #55c5d5;
	font-weight: bolder;
}
.now-time p:nth-child(2){
	height: 0.37rem;
	font-size: 0.13rem;
	color: #3f3f3f;
	line-height: 0.37rem;
}
.sign-in-list2{
	width: 100%;
	height: 2.45rem;
	background: #f1f7ff;
}
.sign-in-list2 li:nth-child(1){
	width: 100%;
	height: 0.46rem;
	font-size: 0.16rem;
	color: #3f3f3f;
	text-align: center;
	line-height: 0.46rem;
}
.take-class{
	width: 46%;
	height: 1.45rem;
	padding: 0.1rem 0;
	margin:0 auto;	
	background: #dff0ff;
	border-radius: 50%;
}
.take-class-sign{
	width: 80%;
	height: 1.25rem;
	margin: 0.1rem auto;
	background: #55c5d5;
	border-radius: 50%;
	position: relative;
}
.take-class-sign span{
	display: block;
	position: absolute;
}
.take-class-sign span:nth-child(1){
	width: 100%;
	height: 0.2rem;
	font-size: 0.19rem;
	text-align: center;
	line-height: 0.2rem;
	color: #fff;
	left: 0;
	top: 0.46rem;
}
.take-class-sign span:nth-child(2){
	width: 100%;
	height: 0.33rem;
	font-size: 0.13rem;
	line-height: 0.33rem;
	text-align: center;
	color: #fff;
	left: 0;
	bottom: 0.3rem;
}
.sign-in-list2 li:nth-child(3){
	width: 100%;
	height: 0.33rem;
	font-size: 0.13rem;
	line-height: 0.33rem;
	text-align: center;
	color: #3f3f3f;
}
.sign-in-list2 li:nth-child(3) img{
	width: 0.12rem;
	height: 0.12rem;
}
.course-content{
	width: 100%;
	height: 1.05rem;
	background: #fff;
}
.course-content span{
	width: 30%;
	height: 1.05rem;
	float: left;
	color: #3f3f3f;
	font-size: 0.16rem;
	margin-left: 0.2rem;
	line-height: 0.35rem;
}
.course-content textarea{
	width: 54%;
	float: right;
	margin-right: 0.4rem;
	resize : none;	
	border: 0;
	outline: medium;
	font-size: 0.13rem;
	color: #d4d4d4;
	margin-top: 0.1rem;
	line-height: 0.2rem;
}
.sign-in-btn{
	width: 100%;
	height: 0.53rem;
}
.sign-in-button{
	width: 50%;
	height: 0.6rem;
	float: left;
	font-size: 0.12rem;
}
.sign-in-button img{
	width: 0.24rem;
	height: 0.24rem;
	display: block;
	margin-left: 45%;
	margin-top: 0.08rem;
}
.sign-in-button span{
	width: 100%;
	height: 0.22rem;
	line-height: 0.22rem;
	text-align: center;
	display: block;
}
.sign-in-warm{
	background: #55c5d5;
	color: #fff;
}
.sign-in-count{
	background: #eee;
	color: #d4d4d4;
	position: relative;
}
#count{
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	color: #fff;
	font-size: 0.12rem;
	background: #f00;
	line-height: 0.2rem;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: 0.1rem;
	top: 0.05rem;

}